.title-swiper {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
}

.title-slide {
  text-align: center;
  background: url(/assets/img/slider-back-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--orange) !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--orange) !important;
}

.content-slide {
  display: flex;
}
.text-slide {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  justify-content: start;
}
.text-slide h1 {
  color: var(--orange);
  text-align: start;
  font-weight: 500;
  font-size: 50px;
}
.text-slide h2 {
  color: #fff;
  font-weight: 400;
  text-align: start;
  margin: 30px 0;
  font-size: 20px;
}

.block-1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
  justify-content: start;
  padding: 0 10%;
}
.cards-slide h2 {
  font-size: var(--title);
  font-weight: 500;
  margin: 10px;
  color: var(--black);
}
.cards-slide h3 {
  font-size: 14px;
  font-weight: 400;
  margin: 10px;
}
.block-1_title {
  margin: 100px 0 70px 0;
}
.cards {
  width: 100%;
}
.cards-swiper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cards-slide {
  width: 100%;
  max-width: 200px;
  height: 340px !important;
  background: url(/assets/img/cards/cards-back.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
}
.cards-slide img {
  width: 100%;
}
.btn-card-con {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 15px 0;
}
.marg {
  width: 100px;
  height: 4px;
  background: var(--orange);
  margin: 15px 0;
}

.item-con {
  display: flex;
  flex-direction: row;
  margin: 50px 0 100px 0;
}
.item-text {
  position: relative;
  width: 700px;
  display: flex;
  margin: 50px;
  background: var(--gray);
  padding: 20px 40px;
  border-radius: 8px;
  z-index: 99;
}

.item-text img {
  margin-right: 20px;
}
.item-img {
  width: 800px;
  background: url(/assets/img/block-2_back.png);
  background-position: center;
  background-size: cover;
  transform: translateX(-100px);
  z-index: 9;
  border-radius: 8px;
}
.item-text div h3 {
  color: #00000095;
}
.item-text div h2 {
  color: var(--black);
}

.hiden-left {
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}
.block_2 {
  margin-top: 100px;
}

.hiden-left.visible {
  transform: translateX(0);
  opacity: 1;
}
.call-back-con {
  background: url(/assets/img/call-back.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.call-back {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  color: #fff;
}
.call-back img {
  width: 300px;
}
.form-con h2 {
  color: #fff;
}
.call-back-form {
  margin: 50px 0;
}
.call-back-form input {
  border-style: none;
  width: fit-content;
  padding: 8px 20px;
  font-size: var(--btn);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  cursor: pointer;
  background: var(--gray);
  margin-right: 20px;
}
.form-con {
  margin-left: 100px;
}
.block-3 {
  padding: 10% 10% 0 10%;
}

.sertif-swiper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sertif-slide {
  display: flex !important;
  justify-content: center !important;
  margin: 50px 0 !important;
}

.sertif-wrapper {
  align-items: center !important;
}

.serti-view-btn {
  width: 70%;
  box-shadow: #00000040 0 0 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--tran-05);
}
.serti-view-btn:hover {
  scale: 1.1;
  transition: var(--tran-05);
}

.serti-view.show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #00000030;
  z-index: 999999;
  transition: var(--tran-05);
}
.serti-view.hide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #00000030;
  z-index: 999999;
  transition: var(--tran-05);
}

.serti-view.show {
  animation: fadeIn 0.5s forwards;
}
.serti-view.hide {
  animation: fadeOut 0.5s forwards;
}

.serti-view img {
  height: 80%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    isibility: visible;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
    visibility: hidden;
  }
}
#modal-img {
  border-radius: 10px;
}
.block-4 {
  padding: 5% 10%;
  background-color: var(--gray);
}
.part-con {
  margin-top: 50px;
}

.part-swiper {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.part-swiper img {
  width: 150px;
}
