@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import url("menu.css");
@import url("main.css");
@import url("footer.css");
@import url("modal.css");
@import url("media.css");

:root {
  --title: 25px;
  --btn: 16px;
  --h1: 33px;
  --h2: 20px;
  --h3: 16px;
  --h3-card: 14px;
  --black: #1d1d1d;
  --orange: #ff7735;
  --gray: #f5f7f8;
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
}
.element::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  scroll-behavior: smooth;
}
* {
  cursor: auto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.catalog-title_l1 {
  display: none;
}
.text-cat-mob {
  display: flex;
}
a {
  text-decoration: none;
}
body {
  display: flex;
  width: 100%;
  justify-content: center;
}
.btn {
  border-style: none;
  width: fit-content;
  padding: 8px 20px;
  font-size: var(--btn);
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  color: #fff;

  background: rgb(255, 153, 36);
  background: -moz-linear-gradient(
    142deg,
    rgba(255, 153, 36, 1) 22%,
    rgba(255, 90, 10, 1) 100%
  );
  background: -webkit-linear-gradient(
    142deg,
    rgba(255, 153, 36, 1) 22%,
    rgba(255, 90, 10, 1) 100%
  );
  background: linear-gradient(
    142deg,
    rgba(255, 153, 36, 1) 22%,
    rgba(255, 90, 10, 1) 100%
  );
}
.btn:hover {
  background: rgba(255, 90, 10, 1) 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
}
h1 {
  font-family: "Montserrat";
  font-weight: 600;
}
h2 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: var(--h2);
  color: #454545;
}
h3 {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: var(--h3-card);
}
span {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 13px;
}
.mob-menu {
  display: none;
}
.logo_menu {
  display: none;
}
