@media (max-width: 600px) {
  :root {
    --title: 15px;
    --btn: 8px;
    --h1: 12px;
    --h2: 10px;
    --h3: 8px;
    --h3-card: 14px;
  }
  .text-slide h1 {
    font-size: 30px;
  }
  .menu {
    display: none;
  }
  .content-slide {
    display: flex;
    flex-direction: column;
  }
  .text-slide .btn {
    width: 100%;
  }
  .item-text {
    position: relative;
    width: 100vw;
    display: flex;
    margin: 0;
    background: var(--gray);
    padding: 20px 40px;
    border-radius: 8px;
    z-index: 99;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .item-img {
    display: none;
  }
  .block_2 {
    margin-top: 100px;
    width: 100%;
  }
  .item-con {
    display: flex;
    flex-direction: row;
    margin: 10% 0 0 0;
    transform: translateX(-9%);
  }
  .item-text img {
    margin-right: 20px;
    width: 40%;
  }
  .call-back-con {
    margin: 10% 0;
    height: fit-content;
  }
  .form-con {
    margin: 0;
  }
  .call-back-form button {
    width: 100%;
  }
  .call-back-form input {
    margin: 0 0 10px 0;
  }
  .call-back {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 50%;
    color: #fff;
    align-content: center;
  }
  .footer {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10%;
  }
  .podp {
    margin: 0;
  }
  .footer-form {
    display: flex;
  }
  .map-banner {
    background: var(--orange);
    width: 100%;
    padding: 10px 40px;
    transform: translateY(100%);
    z-index: 999;
    border-bottom-right-radius: 12px;
  }
  .block-1 {
    padding: 0 8%;
  }
  .block-2 {
    padding: 0 8%;
  }
  .block-3 {
    padding: 0 8%;
  }
  .block-4 {
    padding: 5%;
  }
  .block-title {
    width: 100%;
  }
  .text-slide {
    margin: 10%;
  }
  .swiper-button-next,
  .swiper-button-prev {
    transform: translateY(320px);
  }
  .slide-logo {
    display: none;
  }
  .menu-con {
    display: none;
  }

  .mob-menu {
    display: flex !important;
    flex-direction: column;
    padding: 25% 10% 10% 10%;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #fff;
    transform: translateX(-100%);
    transition: var(--tran-05);
  }
  .mob-menu.active {
    transform: translateX(0);
    transition: var(--tran-05);
  }

  .nav-mob ul {
    display: flex;
    flex-direction: column;
  }
  .nav-mob ul ul {
    position: relative;
    background-color: #fff;
    box-shadow: #00000020 0 0 0;
    min-width: fit-content;
    z-index: 1000;
    overflow: hidden;
    max-height: 0;
    transition: var(--tran-05);
  }

  .-list::after {
    content: none;
    transition: var(--tran-03);
    display: inline-block;
  }
  .-list::before {
    content: url(/assets/svg/link/down.svg);
    transition: var(--tran-03);
    display: inline-block;
  }
  nav {
    height: 500px;
  }
  .nav-mob {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul ul li {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
    margin: 0 0 0 30px;
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    cursor: pointer;
    border-color: #00000020;
    transition: var(--tran-03);
  }
  nav ul ul li a {
    color: #00000096;
  }
  .modal {
    width: 90vw;
  }
  .cont-btn-mob {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .btn-modal-call {
    width: 100% !important;
    margin: 20px 0;
    justify-content: flex-end;
  }
  .copy {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .logo_menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    z-index: 99999;
    padding: 3% 10%;
  }
  .burger {
    transition: var(--tran-03);
    transform: translateX(100%);
  }
  .close {
    transition: var(--tran-03);
  }

  .burger.show {
    scale: 1;
  }
  .burger.hide {
    scale: 0;
  }
  .close.show {
    scale: 1;
  }
  .close.hide {
    scale: 0;
  }
  .cards-slide {
    width: 100%;
    max-width: 100%;
    height: fit-content !important;
  }
  .cards-slide h2 {
    margin: 10% 10% 0 10%;
  }
  .cards-slide h3 {
    margin: 5% 5% 10% 10%;
  }
  .sertif-slide {
    display: flex !important;
    justify-content: flex-end;
    margin: 50px 0 !important;
  }
  .serti-view img {
    height: auto;
    width: 95%;
  }
  .part-slide {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .part-slide img {
    margin: 10%;
  }
  .menu-footer {
    height: fit-content;
  }
  .pattern-footer {
    display: none;
  }
  .menu-footer {
    width: 100%;
  }
  .contact h2 {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 300;
  }
  .podp h2 {
    color: #fff;
    font-weight: 300;
    margin: 10% 0;
  }
  .contact-btn-footer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
  .-list {
    font-size: 19px;
  }
  ._list {
    font-size: 19px;
  }
  .text-slide h2 {
    color: #fff;
    font-weight: 400;
    text-align: start;
    margin: 30px 0;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
  }
}
