.menu-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  max-width: 1920px;
  padding: 0 2%;
  background-color: #fff;
  z-index: 999999;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.contact-con {
  display: flex;
  align-items: center;
  gap: 30px;
}
.contact-btn {
  display: flex;
  gap: 15px;
}
.contact-btn a img {
  cursor: pointer;
  transition: var(--tran-05);
}
.contact-btn a img:hover {
  transition: var(--tran-03);
  scale: 0.9;
}
.contact-con h2:first-child {
  font-size: 18px;
  font-weight: 450;
}
.contact-con h2:last-child {
  font-size: var(--h3);
  font-weight: 500;
  color: var(--orange);
  cursor: pointer;
  position: relative;
}
.contact-con h2:last-child::before {
  content: url(/assets/svg/link/mail.svg);
  margin-right: 5px;
}
.contact-con h2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}

nav ul {
  list-style-type: none;
}

nav > ul > li {
  position: relative;
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
}

nav ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: #00000020 0 0 15px;
  min-width: 180px;
  z-index: 1000;
  overflow: hidden;
  max-height: 0;
  transition: var(--tran-05);
}

nav > ul > li:hover > ul {
  max-height: 500px;
}

nav ul ul li {
  display: block;
  padding: 15px 0;
  margin: 0 20px;
  background-color: #fff;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  cursor: pointer;
  border-color: #00000020;
  transition: var(--tran-03);
}
nav ul ul li:hover {
  color: var(--orange);
  transition: var(--tran-03);
}

.-list {
  position: relative;
}

.-list::after {
  content: url(/assets/svg/link/down.svg);
  transition: var(--tran-03);
  display: inline-block;
}

.-list:hover:after {
  transform: rotate(-90deg);
  transition: var(--tran-03);
}

._list {
  position: relative;
  cursor: pointer;
  list-style: none;
}

._list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
  transform: scaleX(0);
  transition: var(--tran-03);
  z-index: 999;
}

._list:hover::after {
  transform: scaleX(1);
}
